name: Release
on:
  push:
    branches:
      - "main"

jobs:
  release:
    outputs:
      release_created: ${{ steps.release.outputs.release_created }}
      tag_name: ${{ steps.release.outputs.tag_name }}
    runs-on: ubuntu-latest
    steps:
      - uses: google-github-actions/release-please-action@cc61a07e2da466bebbc19b3a7dd01d6aecb20d1e # v4
        id: release
        with:
          command: manifest

  upload-artifacts:
    runs-on: ubuntu-latest
    needs: release
    if: ${{ needs.release.outputs.release_created }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v5
        with:
          go-version-file: 'go.mod'
      - run: go version
      - run: go mod tidy
      - run: make
      - name: Archive executables to zip
        working-directory: /tmp
        run: |
          mkdir -p /tmp/flac2alac-{linux,macos,win}-amd64
          cp ${GITHUB_WORKSPACE}/dist/flac2alac_linux_amd64 flac2alac-linux-amd64/flac2alac
          cp ${GITHUB_WORKSPACE}/dist/flac2alac_macos_amd64 flac2alac-macos-amd64/flac2alac
          cp ${GITHUB_WORKSPACE}/dist/flac2alac_win_amd64.exe flac2alac-win-amd64/flac2alac.exe
          zip -r flac2alac-linux-amd64.zip flac2alac-linux-amd64
          zip -r flac2alac-macos-amd64.zip flac2alac-macos-amd64
          zip -r flac2alac-win-amd64.zip flac2alac-win-amd64
      - name: Upload executables
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh release upload ${{ needs.release.outputs.tag_name }} \
            /tmp/flac2alac-linux-amd64.zip \
            /tmp/flac2alac-macos-amd64.zip \
            /tmp/flac2alac-win-amd64.zip
